<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property resource="bootstrap.properties" />
    <property name="LOGS_DIR" value="logs" />
    <property name="LOG_FILE_NAME" value="${spring.application.name}" />
    
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <logger name="com.teenthofabud.restaurant.solution.engagement" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>